<div class="container-index">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h2>登録済みRoom一覧</h2>

    <div>
    <table>
      <thead>
        <tr>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>料金</th>
          <th>作成日</th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= image_tag room.room_image, class: "room-image" %></td>
            <td><%= link_to "#{room.room_name}", room_path(room)%></td>
            <td><%= room.introduction%></td>
            <td>¥<%= room.price%></td>
            <td><%= room.created_at.to_s(:datetime_jp)%></td>
            <td><%= link_to "編集",  edit_room_path(room)%></td>
            <td><%= link_to "削除", room, method: :delete, data: {confirm: "ルーム#{room.room_name}を削除します"}%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



