<!DOCTYPE html>
<html>
  <head>
    <title>Task2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <div class="left-container">
          <%= link_to "Room Share", root_path, {class: "icon"}%>
          <div class="search">
            <%= search_form_for @q, url: search_rooms_path do |f| %>
              <%= f.search_field :address_cont, class: 'search_area', placeholder: "エリア"%>
              <i class = "fa-solid fa-location-dot icon"></i>
            <% end %>
          </div>

          <div class="search">
            <%= search_form_for @q, url: search_rooms_path do |f| %>
              <%= f.search_field :room_name_or_introduction_or_price_or_address_cont, class: 'search_keyword', placeholder: "キーワード" %>
              <i class = "fa-solid fa-magnifying-glass icon"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="header-right">
        <div class="right-container">
          <div class="nav">
            <% if user_signed_in?%>
              <%= current_user.user_name %>
              <% if current_user.user_image.attached? %>
                <%=image_tag current_user.user_image, class: "host-icon nav-trigger"%>
              <% else %>
                <img class="host-icon nav-trigger" src="/assets/default_icon.jpeg">
              <% end %>


              <div class="nav-list">
                <ul class="nav-menu" >
                  <li><%= link_to "ルーム登録", new_room_path %></li>
                  <li><%= link_to "予約済みルーム一覧", reservations_path(:room_id)%></li>
                  <li><%= link_to "登録済みルーム一覧", rooms_path%></li>
                  <li><%= link_to "設定", edit_user_registration_path%></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトします。よろしいですか?" } %></li>
                </ul>
              </div>
            <% else %>
              <div class="nav-form">
                <%= link_to "ログイン", new_user_session_path, class:"btn btn-yellow btn-cubic"%>
                <%= link_to "新規登録", new_user_registration_path, class:"btn btn-yellow btn-cubic"%>
              </div>
            <% end %>


            </div>
          </div>
        </div>
      </div>
    </header>

    <script>
      $(function() {
        $('.nav-trigger').click(function() {
          $('.nav-menu').slideToggle(500);
        })
      });
    </script>
    <%= yield %>
    <footer>
      <p>© 2022 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
